@model BlogViewModel

<div>

    @if (!Model.Articles.Any())
    {
        <h2>No articles found!</h2>
    }
    else
    {
        foreach (var article in Model.Articles)
        {
            <div class="mb-5">
                <img src="@article.ImageURL" alt="Photo" />
                <dl>
                    <h2>
                        Title: @article.Title
                    </h2>
                    <h4>
                        Author: @article.Author
                    </h4>
                    <p>
                        @article.Text
                    </p>
                    <p>
                        @article.DateWritten
                    </p>
                </dl>
            </div>
                        
        }
    }

</div>
